{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <img src="{{MEDIA_URL}}banner.jpg" alt="Main Page Banner" class="img-fluid">
        </div>
    </div>
    <!-- Display products-->
    <div class="row mt-5">
        <div class="col-12 my-3">
            <h1 class="text-center logo-font">Explore our shop!</h1>
            <hr class="w-50">
        </div>
        <div class="owl-carousel owl-theme">
            {% for product in products %}
            {% if product.image %}
            <div class="item">
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"
                        style="height: 250px; width: 250px;">
                </a>
                <h6>{{ product.name }}</h6>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Popular categories -->
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="text-center logo-font">popular categories</h1>
            <hr class="w-50">
        </div>
        {% for category in categories %}
        {% if category.is_popular %}
        <div class="col-sm-12 col-md-4 col-lg-4 p-3">
            <div>
                <a href="{% url 'products' %}?category={{ category.name }}" class="category-name">{{ category.name }}
                    {% if category.image %}
                    <img class="card-img-top img-fluid rounded" src="{{ category.image.url }}" alt="{{ category.name }}"
                        style="height: 300px;">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}"
                        style="height: 300px;">
                    {% endif %}
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 4
            }
        }
    })
</script>
{% endblock %}