<footer class="bg-white">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <p class="font-italic text-muted uppercase">Buy safely from our site!</p>
                <p class="font-italic text-muted uppercase">Follow us on social media</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="https://twitter.com/" target="_blank" title="twitter"><i
                                class="fa fa-twitter fa-lg text-black"></i></a></li>
                    <li class="list-inline-item"><a href="https://facebook.com/" target="_blank" title="facebook"><i
                                class="fa fa-facebook fa-lg text-black"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"
                            title="instagram"><i class="fa fa-instagram fa-lg text-black"></i></a></li>
                </ul>
                <strong><a
                        href="https://www.privacypolicygenerator.info/live.php?token=pMmiQoYj2FeOOZXySEEWW2nHyzIF1EER"
                        class="text-black my-3">Privacy
                        Policy</a></strong>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
                <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                    <li class="list-item"><a class="text-black"
                            href="{% url 'products' %}?category={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="{% url 'account_login' %}" class="text-muted">Login</a></li>
                    <li class="mb-2"><a href="{% url 'account_signup' %}" class="text-muted">Register</a></li>
                    <li class="mb-2"><a href="{% url 'products' %}" class="text-muted">All Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                <p class="text-muted mb-4 uppercase">Subscribe and recive the latest products news that fits you</p>
                <div>
                    <div class="input-group">
                        <div id="mc_embed_signup">
                            <form
                                action="https://gmail.us21.list-manage.com/subscribe/post?u=d7ba2d141b4db675b61b1a45e&amp;id=e3866a66c2&amp;f_id=00ff50e1f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate style="margin: 0;">
                                <div id="mc_embed_signup_scroll">
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                            required>
                                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_d7ba2d141b4db675b61b1a45e_e3866a66c2" tabindex="-1"
                                            value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" value="Subscribe" name="subscribe"
                                                id="mc-embedded-subscribe" class="button">

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2023 Mihai Elisei</p>
        </div>
    </div>
</footer>

{% block postloadjs %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}